<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signup</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <form action="/user/signup" method="post" class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Full Name</label>
              <input type="text" name="fullName" class="form-control" id="inputfullName4">
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>
    </div>

    <%- include('./partials/script') %>
</body>
</html>